<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lasyaboddapati.moneymatters" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".Login" >
            <intent-filter android:label="@string/title_activity_login" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".Budget"
            android:label="@string/title_activity_budget"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lasyaboddapati.moneymatters.HomeScreen" />
        </activity>
        <activity
            android:name=".Expenses"
            android:label="@string/title_activity_expenses"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lasyaboddapati.moneymatters.HomeScreen" />
        </activity>
        <activity
            android:name=".Lending"
            android:label="@string/title_activity_credits_debts"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lasyaboddapati.moneymatters.HomeScreen" />
        </activity>
        <activity
            android:name=".FirebaseActivity"
            android:label="@string/title_activity_firebase" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
